table.wikipoints .numeric {
	text-align: right;
}

table.wikipoints .score {
	text-align: right;
}

#wikipoints_lookup_form {
	clear: both;
}

	#wikipoints_lookup_form div.right {
		display: inline-block;
		float: right;
	}

form.wikipoints fieldset.bounding {
	display: inline-block;
	border: 0;
	margin: 0;
	padding: 0;
}

form.wikipoints fieldset.bounding input[name="save_revocation"] {
	display: block;
	margin-left: auto;
	margin-right: 0;
}

#wpa_user_controls fieldset {
	border: medium none;
	margin: 0;
	padding: 0;
}

.level {
	display: block;
	padding: 3px 0;
}

.level > input {
	margin-left: 2px;
	width: 250px;
}

.level_head > span {
	border: 1px solid #000000;
	display: inline-block;
	font-weight: bold;
	margin-left: 2px;
	padding: 2px;
	width: 250px;
}

#addSubtractField {
	width: 250px;
}

#content .successbox {
	color: #00a700;
	border-color: #75a274;
	background-color: #9cb89a4a;
}